# jupyter 
init.bat
.ipynb_checkpoints/

# vs code
.vscode

# data
records/
temp/
transcripts/
voices/
translated_voice/
usages/
voices/
__pycache__/
.ipynb_checkpoints/

#env
.env



































3